{% extends "template.html" %}

{% block content %}
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <h1>{{ subject }}</h1>
            </td>
        </tr>
        <tr>
            <td class="content-block">
                {{ 'mail.restore.body'|trans }}
            </td>
        </tr>
        <tr>
            <td class="content-block content-block_block aligncenter">
                <a class="btn-primary" href="{{ frontend_url }}/restore/confirm/link/{{ user.token }}">
                    Confirm
                </a>
            </td>
        </tr>
        <tr>
            <td class="content-block">
                {{ 'mail.restore.footer'|trans }}
            </td>
        </tr>
    </table>
{% endblock %}
