{% extends "template.html" %}

{% block content %}
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <h1>{{ subject }}</h1>
            </td>
        </tr>
        <tr>
            <td class="content-block">
                {{ 'mail.withdraw_create.body'|trans({'name': name, 'strategy': strategy, 'amount': amount}) }}
            </td>
        </tr>
    </table>
{% endblock %}
