{% extends "template.html" %}

{% block content %}
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <h1>{{ subject }}</h1>
            </td>
        </tr>
        <tr>
            <td class="content-block">
                {{ 'mail.faq_question_subject'|trans }}: {{ question.subject }}
            </td>
        </tr>
        <tr>
            <td class="content-block">
                {{ 'mail.faq_question_question'|trans }}: {{ question.question }}
            </td>
        </tr>
        <tr>
            <td class="content-block">
                {{ 'mail.faq_question_user'|trans }}: {{ question.user.email }}
            </td>
        </tr>
    </table>
{% endblock %}
