{% extends "template.html" %}

{% block content %}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            <h1>{{ subject }}</h1>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            {{ 'mail.user_month_report.body'|trans({'name': user.first_name}) }}
        </td>
    </tr>
    <tr>
        <td class="content-block">
            {{ 'mail.user_month_report.report'|trans }}
        </td>
    </tr>
    <tr>
        <td class="content-block content-block_block aligncenter">
            <a class="btn-primary" href="{{ frontend_url }}/report">
                {{ 'mail.user_month_report.more'|trans }}
            </a>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            {{ 'mail.user_month_report.income'|trans }}
        </td>
    </tr>
    <tr>
        <td class="content-block content-block_block aligncenter">
            <a class="btn-primary" href="{{ frontend_url }}/income">
                {{ 'mail.user_month_report.more'|trans }}
            </a>
        </td>
    </tr>
</table>
{% endblock %}
