{% extends "template.html" %}

{% block content %}
<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="content-block">
      <h1>{{ subject }}</h1>
    </td>
  </tr>
  <tr>
    <td class="content-block">
      {{ 'mail.user_login.body'|trans({'name': name, 'ip': ip, 'user_agent': user_agent, 'login_at': login_at}) }}
    </td>
  </tr>
  </tr>
</table>
{% endblock %}
