{% extends "template.html" %}

{% block content %}
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <h1>{{ subject }}</h1>
            </td>
        </tr>
        <tr>
            <td class="content-block">
                {{ 'mail.bonus.body'|trans({'name': name}) }}
            </td>
        </tr>
        <tr>
            <td class="content-block content-block_block aligncenter">
                <a class="btn-primary" href="{{ frontend_url }}/partnership">
                    {{ 'mail.bonus.more'|trans }}
                </a>
            </td>
        </tr>
    </table>
{% endblock %}
