.logo {
    background-color: transparent;
    background-image: url('{{ backend_url }}/public/images/logo-bitlab.png');
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 36px;
    width: 164.5px;
    display: inline-block;
}

.header-wrap {
    background-color: #353535;
    width: 100%;
    padding: 20px 0;
}

a {
    color: #F27E1B;
    text-decoration: underline;
}

.btn-primary {
    text-decoration: none;
    color: #ffffff !important;
    background-color: #F27E1B;
    border: solid #F27E1B;
    border-width: 10px 20px;
    line-height: 2;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    text-transform: uppercase;
}
