<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ subject }}</title>
    <style type="text/css">{% include "style.css" %}</style>
    <style type="text/css">{% include "bitlab.css" %}</style>
</head>
<body>
<table cellpadding="0" cellspacing="0" class="header-wrap">
    <tr>
        <td class="container" width="600">
            <div class="content">
                <table cellpadding="0" cellspacing="0" class="header" width="100%">
                    <tr>
                        <td class="header-logo">
                            <div class="logo"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" class="body-wrap">
    <tr>
        <td class="container" width="600">
            <div class="content">
                <table cellpadding="0" cellspacing="0" class="main" width="100%">
                    <tr>
                        <td class="content-wrap">
                            {% block content %}{% endblock %}
                        </td>
                    </tr>
                </table>
                <div class="footer">
                    <table width="100%">
                        <tr>
                            <td class="content-block-small">
                                &copy; {{ company_name }} | 2018
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        <td></td>
    </tr>
</table>
</body>
</html>
